In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Files to Load
Q42013 = "Resources/Import/Membership/2013Q4.csv"
Q12014 = "Resources/Import/Membership/2014Q1.csv"
Q22014 = "Resources/Import/Membership/2014Q2.csv"
Q32014 = "Resources/Import/Membership/2014Q3.csv"
Q42014 = "Resources/Import/Membership/2014Q4.csv"
Q12015 = "Resources/Import/Membership/2015Q1.csv"
Q22015 = "Resources/Import/Membership/2015Q2.csv"
Q32015 = "Resources/Import/Membership/2015Q3.csv"
Q42015 = "Resources/Import/Membership/2015Q4.csv"
Q12016 = "Resources/Import/Membership/2016Q1.csv"
Q22016 = "Resources/Import/Membership/2016Q2.csv"
Q32016 = "Resources/Import/Membership/2016Q3.csv"
Q42016 = "Resources/Import/Membership/2016Q4.csv"
Q12017 = "Resources/Import/Membership/2017Q1.csv"
Q22017 = "Resources/Import/Membership/2017Q2.csv"
Q32017 = "Resources/Import/Membership/2017Q3.csv"
Q42017 = "Resources/Import/Membership/2017Q4.csv"
Q12018 = "Resources/Import/Membership/2018Q1.csv"
Q22018 = "Resources/Import/Membership/2018Q2.csv"
Q32018 = "Resources/Import/Membership/2018Q3.csv"
Q42018 = "Resources/Import/Membership/2018Q4.csv"


# Read file and store into Pandas data frame
df_q42013 = pd.read_csv(Q42013)
df_q12014 = pd.read_csv(Q12014)
df_q22014 = pd.read_csv(Q22014)
df_q32014 = pd.read_csv(Q32014)
df_q42014 = pd.read_csv(Q42014)
df_q12015 = pd.read_csv(Q12015)
df_q22015 = pd.read_csv(Q22015)
df_q32015 = pd.read_csv(Q32015)
df_q42015 = pd.read_csv(Q42015)
df_q12016 = pd.read_csv(Q12016)
df_q22016 = pd.read_csv(Q22016)
df_q32016 = pd.read_csv(Q32016)
df_q42016 = pd.read_csv(Q42016)
df_q12017 = pd.read_csv(Q12017)
df_q22017 = pd.read_csv(Q22017)
df_q32017 = pd.read_csv(Q32017)
df_q42017 = pd.read_csv(Q42017)
df_q12018 = pd.read_csv(Q12018)
df_q22018 = pd.read_csv(Q22018)
df_q32018 = pd.read_csv(Q32018)
df_q42018 = pd.read_csv(Q42018)

In [2]:
df_q12014 = df_q12014.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased",
                                      "Total Annual Members":"Total Annual Members (All Time)"})

df_q12014 = df_q12014.drop(columns=['Annual Member Sign-Ups (midnight to 11:59 pm)',
                                 'Cumulative trips (since launch):','Miles traveled to date:'])

df_q12014.count()

Date                                                  90
Trips over the past 24-hours (midnight to 11:59pm)    90
Miles traveled today (midnight to 11:59 pm)           90
Total Annual Members (All Time)                       90
24-Hour Passes Purchased (midnight to 11:59 pm)       90
MultiDay Pass Purchased                               90
dtype: int64

In [3]:
df_q22014 = df_q22014.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased",
                                      "Total Annual Memberships Sold":"Total Annual Members (All Time)"})

df_q22014 = df_q22014.drop(columns=['Annual Member Sign-Ups (midnight to 11:59 pm)',
                                 'Cumulative trips (since launch):','Miles traveled to date:'])
df_q22014.count()

Date                                                  91
Trips over the past 24-hours (midnight to 11:59pm)    91
Miles traveled today (midnight to 11:59 pm)           91
Total Annual Members (All Time)                       91
24-Hour Passes Purchased (midnight to 11:59 pm)       91
MultiDay Pass Purchased                               91
dtype: int64

In [4]:
df_q32014 = df_q32014.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased",
                                      "Total Annual Memberships Sold":"Total Annual Members (All Time)"})

df_q32014 = df_q32014.drop(columns=['Annual Member Sign-Ups (midnight to 11:59 pm)',
                                 'Cumulative trips (since launch):','Miles traveled to date:'])

df_q32014.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [5]:
df_q42014 = df_q42014.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased",
                                      "Total Annual Memberships Sold":"Total Annual Members (All Time)"})

df_q42014 = df_q42014.drop(columns=['Annual Member Sign-Ups (midnight to 11:59 pm)',
                                 'Cumulative trips (since launch):','Miles traveled to date:'])

df_q42014.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [6]:
df_q12015 = df_q12015.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q12015 = df_q12015.drop(columns=['Cumulative trips (since launch):','Miles traveled to date:'])

df_q12015.count()

Date                                                  90
Trips over the past 24-hours (midnight to 11:59pm)    90
Miles traveled today (midnight to 11:59 pm)           90
Total Annual Members (All Time)                       90
24-Hour Passes Purchased (midnight to 11:59 pm)       90
MultiDay Pass Purchased                               90
dtype: int64

In [7]:
df_q22015 = df_q22015.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased",
                                      "Total Annual Memberships Sold":"Total Annual Members (All Time)"})                        
                        
df_q22015 = df_q22015.drop(columns=['Cumulative trips (since launch)','Miles traveled to date'])

df_q22015.count()

Date                                                  91
Trips over the past 24-hours (midnight to 11:59pm)    91
Miles traveled today (midnight to 11:59 pm)           91
Total Annual Members (All Time)                       91
24-Hour Passes Purchased (midnight to 11:59 pm)       91
MultiDay Pass Purchased                               91
dtype: int64

In [8]:
df_q32015 = df_q32015.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased",
                                      "Total Annual Memberships Sold":"Total Annual Members (All Time)"})

df_q32015 = df_q32015.drop(columns=['Cumulative trips (since launch):','Miles traveled to date:'])

df_q32015.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [9]:
df_q42015 = df_q42015.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q42015 = df_q42015.drop(columns=['Cumulative trips (since launch):','Miles traveled to date:'])

df_q42015.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [10]:
df_q12016 = df_q12016.rename(columns={"7-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q12016 = df_q12016.drop(columns=['Cumulative trips (since launch):','Miles traveled to date:'])

df_q12016.count()

Date                                                  91
Trips over the past 24-hours (midnight to 11:59pm)    91
Miles traveled today (midnight to 11:59 pm)           91
Total Annual Members (All Time)                       91
24-Hour Passes Purchased (midnight to 11:59 pm)       91
MultiDay Pass Purchased                               91
dtype: int64

In [11]:
#Began Selling 3-day passes in lieu of 7-day passes beginning 5/18/2016
df_q22016['MultiDay Pass Purchased'] = df_q22016['3-Day Passes Purchased (midnight to 11:59 pm)'] + df_q22016['7-Day Passes Purchased (midnight to 11:59 pm)']

df_q22016 = df_q22016.drop(columns=['3-Day Passes Purchased (midnight to 11:59 pm)','7-Day Passes Purchased (midnight to 11:59 pm)'])

df_q22016 = df_q22016.drop(columns=['Cumulative trips (since launch):','Miles traveled to date:'])

df_q22016.count()

Date                                                  91
Trips over the past 24-hours (midnight to 11:59pm)    91
Miles traveled today (midnight to 11:59 pm)           91
Total Annual Members (All Time)                       91
24-Hour Passes Purchased (midnight to 11:59 pm)       91
MultiDay Pass Purchased                               91
dtype: int64

In [12]:
df_q32016 = df_q32016.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q32016 = df_q32016.drop(columns=['Cumulative trips (since launch):','Miles traveled to date:'])

df_q32016.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [13]:
df_q42016 = df_q42016.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q42016 = df_q42016.drop(columns=['Cumulative trips (since launch):','Miles traveled to date:'])

df_q42016.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [14]:
df_q12017 = df_q12017.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q12017.count()

Date                                                  90
Trips over the past 24-hours (midnight to 11:59pm)    90
Miles traveled today (midnight to 11:59 pm)           90
Total Annual Members (All Time)                       90
24-Hour Passes Purchased (midnight to 11:59 pm)       90
MultiDay Pass Purchased                               90
dtype: int64

In [15]:
df_q22017 = df_q22017.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q22017.count()

Date                                                  91
Trips over the past 24-hours (midnight to 11:59pm)    91
Miles traveled today (midnight to 11:59 pm)           91
Total Annual Members (All Time)                       91
24-Hour Passes Purchased (midnight to 11:59 pm)       91
MultiDay Pass Purchased                               91
dtype: int64

In [16]:
df_q32017 = df_q32017.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q32017.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [17]:
df_q42017 = df_q42017.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q42017.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [18]:
df_q12018 = df_q12018.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q12018.count()

Date                                                  90
Trips over the past 24-hours (midnight to 11:59pm)    90
Miles traveled today (midnight to 11:59 pm)           90
Total Annual Members (All Time)                       90
24-Hour Passes Purchased (midnight to 11:59 pm)       90
MultiDay Pass Purchased                               90
dtype: int64

In [19]:
df_q22018 = df_q22018.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q22018.count()

Date                                                  91
Trips over the past 24-hours (midnight to 11:59pm)    91
Miles traveled today (midnight to 11:59 pm)           91
Total Annual Members (All Time)                       91
24-Hour Passes Purchased (midnight to 11:59 pm)       91
MultiDay Pass Purchased                               91
dtype: int64

In [20]:
df_q32018 = df_q32018.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q32018.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [21]:
df_q42018 = df_q42018.rename(columns={"3-Day Passes Purchased (midnight to 11:59 pm)":"MultiDay Pass Purchased"})

df_q42018.count()

Date                                                  92
Trips over the past 24-hours (midnight to 11:59pm)    92
Miles traveled today (midnight to 11:59 pm)           92
Total Annual Members (All Time)                       92
24-Hour Passes Purchased (midnight to 11:59 pm)       92
MultiDay Pass Purchased                               92
dtype: int64

In [22]:
df = df_q12014.append(df_q22014, ignore_index=True, sort=True)
df = df.append(df_q32014, ignore_index=True, sort=True)
df = df.append(df_q42014, ignore_index=True, sort=True)
df = df.append(df_q12015, ignore_index=True, sort=True)
df = df.append(df_q22015, ignore_index=True, sort=True)
df = df.append(df_q32015, ignore_index=True, sort=True)
df = df.append(df_q42015, ignore_index=True, sort=True)
df = df.append(df_q12016, ignore_index=True, sort=True)
df = df.append(df_q22016, ignore_index=True, sort=True)
df = df.append(df_q32016, ignore_index=True, sort=True)
df = df.append(df_q42016, ignore_index=True, sort=True)
df = df.append(df_q12017, ignore_index=True, sort=True)
df = df.append(df_q22017, ignore_index=True, sort=True)
df = df.append(df_q32017, ignore_index=True, sort=True)
df = df.append(df_q42017, ignore_index=True, sort=True)
df = df.append(df_q12018, ignore_index=True, sort=True)
df = df.append(df_q22018, ignore_index=True, sort=True)
df = df.append(df_q32018, ignore_index=True, sort=True)
df = df.append(df_q42018, ignore_index=True, sort=True)
df.count()

24-Hour Passes Purchased (midnight to 11:59 pm)       1826
Date                                                  1826
Miles traveled today (midnight to 11:59 pm)           1826
MultiDay Pass Purchased                               1826
Total Annual Members (All Time)                       1826
Trips over the past 24-hours (midnight to 11:59pm)    1826
dtype: int64

In [23]:
df = df.rename(columns={"24-Hour Passes Purchased (midnight to 11:59 pm)":"Daily Pass Purchased",
                                     "Miles traveled today (midnight to 11:59 pm)":"Miles Traveled",
                                     "Total Annual Members (All Time)":"Current Membership Count",
                                     "Trips over the past 24-hours (midnight to 11:59pm)":"Trip Count"})

df = df[["Date","Trip Count","Miles Traveled","Current Membership Count","Daily Pass Purchased","MultiDay Pass Purchased"]]

df.head()

,Date,Trip Count,Miles Traveled,Current Membership Count,Daily Pass Purchased,MultiDay Pass Purchased
0,1/1/2014,6559,9.254,95971,268,10
1,1/2/2014,9334,11.736,96000,66,3
2,1/3/2014,1288,1.855,96042,1,1
3,1/4/2014,2494,3.706,96065,14,1
4,1/5/2014,2937,3.720,96084,17,4

In [24]:
df.to_csv("Resources/Export_Membership/membership.csv")